body {
padding-top: 70px

}

.jumbotron {
  background-image: url(../img/oregonsunset1.jpg);
  height: 100%;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

.jumbotron h1, .jumbotron p {
  color: #fff
}
