body {
padding-top: 70px

}

.jumbotron {
  background-image: url(../img/oregonsunset1.jpg);
  height: 100%;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

.jumbotron h1, .jumbotron p {
  color: #fff
}

.glyphicon {
  font-size: 3em;
  display: block;
  text-align: center;
  color: #3a87a4;

}
